<footer class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-auto mx-auto mr-md-0">
        <div class="row align-items-center">
          <div class="col-auto">
            v{{ meta.application_version }}&nbsp;
            <a href="mailto:{{ meta.support_email|default:"support@theletstream.com" }}" class="btn btn-outline-primary btn-sm">Contact Support</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        Copyright © 2018
        <a href=".">{{ meta.site_title|default:"Letstream" }}</a>. All rights reserved. Powered by <a href="https://www.theletstream.com/" target="_blank">Letstream</a>.
      </div>
    </div>
  </div>
</footer>